GOOGLE_API_KEY=mettre_valeur_ici
GCS_BUCKET_NAME=mettre_valeur_ici
GOOGLE_APPLICATION_CREDENTIALS=mettre_valeur_ici
PREFECT_API_URL=mettre_valeur_ici
PREFECT_API_KEY=mettre_valeur_ici
DAGSHUB_USERNAME=mettre_valeur_ici
DAGSHUB_TOKEN=mettre_valeur_ici
MLFLOW_TRACKING_URI=mettre_valeur_ici